### Strings

In [1]:
first_name = "Cookie"
last_name = "Monster"

In [2]:
print(first_name + last_name)

CookieMonster

In [3]:
first_name[-1]

'e'

In [4]:
# title() method returns a string with the first character in upper case for every word in the string

message = "  learn to code in python "
print(message.title())
print(message)

  Learn To Code In Python
  learn to code in python

In [5]:
# upper() method returns a string in all upper cases

message = "  learn to code in python "
msg = message.upper()
print(msg)
print(message)

  LEARN TO CODE IN PYTHON
  learn to code in python

In [ ]:
print(msg)
print(msg.lower())

In [ ]:
# strip() method returns a string after removing all leading and following blanks in the string

message = "  learn to code in python "
print(message.strip())
print(message)

In [ ]:
# lstrip() method returns a string after removing all leading blanks in the string

message = "  learn to code in python "
print(message.lstrip())
print(message)

In [ ]:
# rstrip() method returns a string after removing all following blanks in the string

message = "  learn to code in python        "
print(message.rstrip())
print(message)

In [ ]:
# replace() method returns a string with old substring replaced with new substring

message = "  learn to code in python        "
print(message.replace(' ', '*'))
print(message)

In [ ]:
# capitalize() method returns a string with the first character in upper case

message = "learn to code"
print(message)
print(message.capitalize())

In [ ]:
# what is happening?

message = " learn to code"
print(message)
print(message.capitalize())

In [ ]:
"python".capitalize()

In [ ]:
# center() method returns a centered string


message = "yeah"
print(message)
print(message.center(20))

In [ ]:
# count() method returns the occurences of the substring in the given string

message = "  learn to code in python "
print(">>>"+message+"<<<")
message.count("to")

In [ ]:
message.count(" ")

In [ ]:
message.count("Code")

In [ ]:
message = "I love Python!"
print(message)
print(message[5])

In [ ]:
message[-5]

In [ ]:
message[20]

In [ ]:
# len() function returns the number of items in an object


len(message)

In [ ]:
len("")

In [ ]:
len("99.99")

In [ ]:
len("\'")

In [ ]:
len(123.56789)

### Exercise 1
Write a program to right-justify text where the maximum number of characters per line is 50.

In [8]:
line1 = "   beautiful is better than ugly.   "

In [7]:
# fix any errors

MAXCHAR = 50
# Write 



no_char = len(line1)            # returns a number of charcters in line 

# find the number of blanks to fill the line
no_blank = no_char - MAXCHAR



# fill the leading blanks
result = "--" * no_blank 

# concatenate the text to leading blanks



# print out
print("1234567890"*5)
print(result)

12345678901234567890123456789012345678901234567890

In [6]:
MAXCHAR = 50
line = line1.strip()
no_char = len(line)            # returns a number of charcters in line 
no_blanks = MAXCHAR - no_char

result = " " * no_blanks
result += line  # result = result + line

print("1234567890"*5)
print(result)

12345678901234567890123456789012345678901234567890
                    beautiful is better than ugly.

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [9]:
message = "I love {name}"
print(message.format(name = "Python"))
print(message)

I love Python
I love {name}

In [10]:
print("I love {0}".format("Python"))
print("I love {}".format("Python"))

I love Python
I love Python

In [ ]:
print("I love {} and {}".format("to eat", "drink"))

In [ ]:
print("I love {one} and {two}".format(two="drink", one="to eat"))

In [ ]:
msg = "My name is {fname}.".format(fname="Elmo")
print(msg)

In [ ]:
msg = "Your name is {fname} and you are {age}.".format(fname="Big Bird", age=5)
print(msg)

In [ ]:
msg = "Your name is {0} and you are {1}.".format("Count Von Count", 999)
print(msg)

In [ ]:
msg = "Your name is {} and you are {}.".format("Cookie Monster", 9)
print(msg)

In [ ]:
# :f for fixed point number, default with 6 decimals

price = 9.99
msg = "The price is ${:f}"
print(msg.format(price))

In [ ]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.2f}"
print(msg.format(price))

In [ ]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.1f}"
print(msg.format(price))

In [ ]:
# :, to display comma as a thousand separator

msg = "Total price is ${:,}"
print(msg.format(price*10000))

In [ ]:
msg = "Total price is ${:,.2f}"
print(msg.format(price*10000))

In [ ]:
msg = "Current interest rate is {:%}"
print(msg.format(0.0516))

In [ ]:
msg = "Current interest rate is {:.2%}"
print(msg.format(0.0516))

In [ ]:
msg = "Current interest rate is {:.1%}"
print(msg.format(0.0516))

### Formatted String

In [ ]:
first_name = "Big"
last_name = "Bird"

In [16]:
print("The main character is {first_name} {last_name}.")

The main character is {first_name} {last_name}.

In [17]:
print(f"The main character is {first_name} {last_name}.")

The main character is Cookie Monster.

In [18]:
amount = 1234567.89123
print(f"Amount is ${amount:,.3f}")

Amount is $1,234,567.891

In [19]:
print(f"Amount is {amount:,.3%}")

Amount is 123,456,789.123%

In [20]:
amount

1234567.89123

In [21]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

Subtotal: $5299.469999999999

In [22]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

Subtotal: $5,299.469999999999

In [23]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

Subtotal: $5299.47

In [24]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

Subtotal: $5,299.47

In [25]:
x = 123.45143
print(f"{x:.3f}")

123.451

In [26]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

Current rate: 3.26%

In [27]:
print(f"Current rate: {rate:.9%}")

Current rate: 3.255000000%

In [28]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>14
Enter next number:
>26
14 * 26 = 364

In [29]:
print(f"{numb1} + {numb2} = {numb1 + numb2}")
print(f"{numb1} - {numb2} = {numb1 - numb2}")
print(f"{numb1} * {numb2} = {numb1 * numb2}")
print(f"{numb1} / {numb2} = {numb1 / numb2}")

14 + 26 = 40
14 - 26 = -12
14 * 26 = 364
14 / 26 = 0.5384615384615384

### Exercise 2
Write a program to find out user's annual salary. Then compute user's monthly salary and bi-weekly salary.
Display your results in nice formatted output.

#### Identify IPO

input:
     User's annual salary   
process in pseudocode:
     Have the user input their annual salary
     Convert their annual salary into an integer
     Find their monthly salary, divide the annual salary by 12
     Find their biweekly slalary, divide the annualsalary by 26
     Print the user's monthly and biweekly salary
output:
     User's monthly biweekly salary

#### Convert your pseudocode in to Python code

In [11]:
salary = int(input("Enter your salary: "))

monthly = salary / 12
biweekly = salary / 26

print(f"Your monthly salary is ${monthly:,.2f}")
print(f"Your biweekly salary is ${biweekly:,.2f}")

Enter your salary: 100000
Your monthly salary is $8,333.33
Your biweekly salary is $3,846.15

### Scientific Number Notation

In [1]:
no1 = 58000
print(f"{no1:e}")

5.800000e+04

In [2]:
print(f"{no1:.1e}")
print(f"{no1:.2e}")

5.8e+04
5.80e+04

In [3]:
no2 = 0.000123

print(f"{no2:.1e}")
print(f"{no2:.3e}")

1.2e-04
1.230e-04

In [4]:
no3 = 1.23456789e3  #1234.56789
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.2f}")

1234.56789
1,234.56789
1,234.57

In [5]:
no3 = 1.23456e-3    #0.00123456
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.3f}")
print(f"{no3:,.2f}")

0.00123456
0.00123456
0.001
0.00

In [6]:
no3 = 9e-3
print(f"{no3}")

0.009

In [7]:
no3 = 9e3
print(f"{no3}")

9000.0

### Exercise 3

In [10]:
# 1. Write 620000 in a scientific number notation
# 6.2e+5
noc = 620000
print(f"{620000:.1e}")

6.2e+05

In [11]:
# 2. write 0.0091 in a scientific number notation
# 9.1e-3

print(f"{0.0091:.1e}")

9.1e-03

### Exercise 4

#### 1. Convert 217 to a binary number using FLOOR-DIVISION and MOD arithmetic operations

In [12]:
# 2 to the power of 7 
print(217 // 2)
print(217 % 2)

108
1

In [14]:
# power of 6
print(108 //2)
print(108 % 2)

54
0

In [15]:
# power of 5
print(54 // 2)
print(54 % 2)

27
0

In [16]:
# power of 4
print(27 // 2)
print(27 % 2)

13
1

In [17]:
# power of 3
print(13 // 2)
print(13 % 2)

6
1

In [18]:
# power of 2
print(6 // 2)
print(6 % 2)

3
0

In [19]:
# power of 1
print(3 // 2)
print(3 % 2)

1
1

In [20]:
# power of 0
print(1 // 2)
print(1 % 2)

0
1

In [13]:
# Now, assemble your answer
bin(217)

'0b11011001'

#### 2. Convert 0b1110 0011 to a decimal number

In [7]:
# 2 to the power of 7
power7 = 1 * (2**7)
print(power7)

128

In [8]:
# power of 6
power6 = 1 * (2**6)
print(power6)

64

In [9]:
# power of 5
power5 = 1 * (2**5) 
print(power5)

32

In [10]:
# power of 4
power4 = 0 * (2**4)
print(power4)

0

In [11]:
# power of 3
power3 = 0 * (2**3)
print(power3)

0

In [12]:
# power of 2
power2 = 0 * (2**2)
print(power2)

0

In [13]:
# power of 1
power1 = 1 * (2**2)
print(power1)

4

In [14]:
# power of 0
power0 = 0 * (2**0)
print(power0)

0

In [15]:
# Now, assemble your answer
answer = power7 + power6 + power5 + power4 + power3 + power2 + power1 + power0
print(answer)

228

### Use Data Type Casting

In [22]:
numb = 0o10011011
int(numb)

2101769

In [ ]:
int(0b10011011)

In [ ]:
bin(155)

In [ ]:
type(bin(153))

In [ ]:
numb = 0o01234567
int(numb)

In [ ]:
oct(342391)

In [ ]:
numb = 153
hex(153)

In [ ]:
int("0b10011011", 2)

In [ ]:
int("0o10011011", 8)

In [23]:
int("0o1234567", 8)

342391

In [ ]:
int(0x20b)

In [ ]:
int("1011", 2)

In [ ]:
int("1011", 8)

In [25]:
int("1011", 16)

4113

In [24]:
numb = "1011"
print(f"Binary {numb} is integer {int(numb, 2)}\nOctal {numb} is integer {int(numb, 8)}\nHexa {numb} is integer {int(numb,16)}")

Binary 1011 is integer 11
Octal 1011 is integer 521
Hexa 1011 is integer 4113